@base: #aea;

body{
  background-color: @base;
  #topBar {
    // overflow: hidden;
    // height: 45px;
    // line-height: 45px;
    // position: relative;
    // background: #99B2B7;
    -webkit-box-shadow: 0px 5px 10px #222222;
    -moz-box-shadow: 0px 5px 10px #222222;
    box-shadow: 0px 5px 10px #222222;
  }
}

#calculator{
  background-color: rgba(150,150,150,0.7);

  #past{
    height: 200px;
    overflow:scroll;
  }
  #present{
    height: 80px;
  }
  #future{

  }
}

