// @base: #AABFF3;
@overBodyColor: rgba(220,220,220,.7);

.hidden{
  display: none;
}

body{
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  #topBar {
    // overflow: hidden;
    // height: 45px;
    // line-height: 45px;
    // position: relative;
    // background: #99B2B7;
    -webkit-box-shadow: 0px 5px 10px #222222;
    -moz-box-shadow: 0px 5px 10px #222222;
    box-shadow: 0px 5px 10px #222222;
  }
#whoAreYou{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  #teacher{
    width: 45%;
    float:left;
    // height: 200px;
  }
  #student{
    width: 45%;
    float:right;
  }
  #authentication{
    display: none;
  }

}
  #content{
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: @overBodyColor;
    // -webkit-border-radius: 10px;
    // -moz-border-radius: 10px;
    // border-radius: 10px;
  }
}

#designAssessment{
  display: inline-block;;
}

.qText{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
#calculator{

  #past, #present{
    background-color: @overBodyColor;
    height: 80px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 40px;
    padding: 15px 20px;
    border: .1em solid #444;
    // overflow:scroll;
  }
  #future{
    .button{
      margin-left: 1%;
      font-size: 2em;
      // width: 10%;
      // padding: 6%;
      padding-top: 5px;
      padding-bottom: 5px;
      height:50px;
    }
    #e{
      font-style: italic;
    }

  }
}


.pagination li a{
  font-size: 2em;
  font-weight: bold;
}
.activePage{
  background-color: #666 !important;
}

.correct{
  background-color: #07a600 !important;
  font-weight: bold;
}

.wrong{
  background-color: #fc2d3b !important;
  font-weight: bold;
}

#response, #whichAssessment{
  font-size: 1.5em;
  height: 2em;
}


#clearCanvas{
  margin-right: 2%;
}
canvas{
  background-color: @overBodyColor;
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  width: 100%;
}

#registration-form{
  background: transparent;
  legend{
    background: transparent;
  }
}

#adminContainer{
  padding: 20px;
}

form fieldset{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: .15em solid #444;
}

#seeResultsButton{
  margin-top: 20px;
  // background-color: #ffaaee;
  // text-decoration: blink;
  // &:hover{
  //   background-color: #ff1dd3;
  // }
}