extends ../template/layout

block content
  #content
    .row
      .small-12.columns
        h3 Upload a file...
        input#file(type='file' name='files[]')
        .row
          .small-2.columns
            a#upload.button.small.radius.expand Upload
          .small-6.columns
            a#designAssessment.hidden.button.small.success.radius(href='#') Design Assessment
          .small-4.columns
        #fileList

