form.authentication.hidden(action='/', method='post')
  fieldset
    legend Authentication
    .row
      //- mixin field(colSize, type, name, text, value, placeholder, autofocus)
      mixin field(4, 'text', 'username', 'Username')
      mixin field(4, 'text', 'email', 'Email Address')
      mixin field(4, 'password', 'password', 'Password')
    .row
      .small-3.small-offset-6.columns
        button.register.radius.success.tiny.expand Register
      .small-3.columns
        button.login.radius.tiny.expand Login