!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include ../mixins/form-helper

include head
body
  include nav
  include authentication-form
  block content
  include scripts
</html>
